{% extends "base.html" %}

{% block title %}Add Comment{% endblock %}
{% block header %}Add Comment{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href='#'>Logout</a></li>
	</ul>
</div>

<div class="aircraftgraphics form">
	<h2>Add Comment</h2>
	
	{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

   <form action="" method="post">
        <div class="field">
            {{ form.comment.errors }}
            <label for="comment">Comment:</label>
            {{ form.comment }}
        </div>
        <div class="field">
            {{ form.user.errors }}
            <label for="user">User:</label>
            {{ form.user }}
        </div>
        <div class="submit">
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="cancel" value="Cancel">
    </div>
    </form>
</div>

{% endblock %}
