{% extends "base.html" %}

{% block title %}Aircraft Type View{% endblock %}
{% block header %}Aircraft Type View{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href="{% url 'typeindex' %}">All Aircraft Types</a></li>
		{% if perms.multimediadb.add_aircraftsystem %}
		<li><a href="{% url 'systemadd' aircrafttype.id %}">New Aircraft System</a></li>
		{% endif %}
		<li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
</div>

<div class="aircrafttypes view">
	<h2>Aircraft Type</h2>
       <dl>
           <dt>Name</dt>
           <dd>{{ aircrafttype.name }}&nbsp;</dd>
           <dt>Description</dt>
           <dd>{{ aircrafttype.description }}&nbsp;</dd>
       </dl>
</div>


<div class="related">
	{% for system in systems %}
    {% if forloop.first %}    
    <h3>Systems</h3>
	<table cellpadding = "0" cellspacing = "0">
    <tr>
			<th>Name</th>
			<th>Description</th>
    		<th>Workshare</th>
    		<th>Status</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ system.name }}&nbsp;</td>
		<td>{{ system.description }}&nbsp;</td>
		<td>{{ system.workshare }}&nbsp;</td>
		<td>{{ system.status }}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'systemview' aircrafttype.id system.id %}'>View</a>
			{% if perms.multimediadb.change_aircraftsystem %}
			<a href='{% url 'systemedit' aircrafttype.id system.id %}'>Edit</a>
			{% endif %}
		</td>
	</tr>
{% empty %}
    <tr>
        <td>No Systems Defined!</td>
    </tr>
{% endfor %}
	
</div>


{% endblock %}
