{% extends "base.html" %}

{% block title %}Graphic QA View{% endblock %}
{% block header %}Graphic QA View{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href="{% url 'systemview' aircrafttype.id system.id %}">All System Graphics</a></li>
        <li><a href="{% url 'workadd' aircrafttype.id system.id graphic.id %}">Add Work Done</a></li>
		<li><a href='#'>Logout</a></li>
	</ul>
</div>

<div class="graphics view">
	<h2>Graphic QA</h2>
       <dl>
           <dt>Media Label</dt>
           <dd>{{ graphic.media_label }}&nbsp;</dd>
           <dt>Title</dt>
           <dd>{{ graphic.title }}&nbsp;</dd>
           <dt>Description</dt>
           <dd>{{ graphic.description }}&nbsp;</dd>
           <dt>Version</dt>
           <dd>{{ graphic.version|stringformat:'02d' }}&nbsp;</dd>
           <dt>Estimated Hours</dt>
           <dd>{{ graphic.adjusted_hours }}&nbsp;</dd>
           <dt>Status</dt>
           <dd>{{ graphic.status }}&nbsp;</dd>
       </dl>
</div>

<div class="related">
	{% for qa in qas %}
    {% if forloop.first %}    
    
	<table cellpadding = "0" cellspacing = "0">
	<tr>
        <td><h3>QA Stages</h3></td>
    </tr>
    <tr>
        <th>Graphic Version</th>
		<th>QA Stage</th>
		<th>User</th>
        <th>Date</th>
        <th>Result</th>
      <th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ qa.qa_version|stringformat:'02d' }}&nbsp;</td>
		<td>{{ qa.qa_stage }}&nbsp;</td>
		<td>{{ qa.created_by }}&nbsp;</td>
        <td>{{ qa.modified }}&nbsp;</td>
        <td>{{ qa.result }}&nbsp;</td>
        <td class="actions">
        {% if forloop.last %}  
            <a href="{% url 'commentadd' aircrafttype.id system.id graphic.id graphic.version 'graphic' qa.qa_stage %}">Comment</a>
  	        <a href="{% url 'qaresult' aircrafttype.id system.id graphic.id graphic.version qa.qa_stage qa.id 'Pass' %}">PASS</a>
  	        <a href="{% url 'qaresult' aircrafttype.id system.id graphic.id graphic.version qa.qa_stage qa.id 'Fail' %}">FAIL</a>
		{% endif %}
		</td>
	</tr>
{% empty %}

{% endfor %}
	
</div>


<div class="related">

{% for comment in comments %}
    {% if forloop.first %}   
    
 	<table cellpadding = "0" cellspacing = "0">
 	<tr>
        <td><h3>Comments</h3></td>
    </tr>
    <tr>
            <th>Comment Source</th>
            <th>Graphic Version</th>
			<th>Comment</th>
			<th>Created By</th>
    		<th>Created On</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
	    <td>{{ comment.comment_type }}&nbsp;</td>
	    <td>{{ comment.comment_version|stringformat:'02d' }}&nbsp;</td>
		<td>{{ comment.comment }}&nbsp;</td>
		<td>{{ comment.created_by }}&nbsp;</td>
		<td>{{ comment.created }}&nbsp;</td>
       	<td class="actions">
			<a href='#'>Edit</a>
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>

</div>

<div class="related">

{% for upload in uploads %}
    {% if forloop.first %}   
     
 	<table cellpadding = "0" cellspacing = "0">
 	<tr>
        <td><h3>Attachments</h3></td>
    </tr>
    <tr>
			<th>File</th>
			<th>Description</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ upload.file }}&nbsp;</td>
		<td>{{ upload.description }}&nbsp;</td>
       	<td class="actions">
			<a href="{% url 'download' pk=upload.pk %}">Download</a>
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>

</div>
{% endblock %}
