{% extends "base.html" %}

{% block title %}Aircraft System View{% endblock %}
{% block header %}Aircraft System View{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href="{% url 'typeview' aircrafttype.id %}">All Aircraft Systems</a></li>
        <li><a href="{% url 'graphicadd' aircrafttype.id system.id %}">New Graphic</a></li>
		<li><a href='#'>Logout</a></li>
	</ul>
</div>

<div class="aircraftsystems view">
	<h2>System</h2>
       <dl>
           <dt>Name</dt>
           <dd>{{ system.name }}&nbsp;</dd>
           <dt>Description</dt>
           <dd>{{ system.description }}&nbsp;</dd>
       </dl>
</div>

<div class="related">
	{% for graphic in graphics %}
    {% if forloop.first %}    
    <h3>Graphics</h3>
	<table cellpadding = "0" cellspacing = "0">
    <tr>
			<th>Media Label</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
            <th>Estimated Hours</th>
            <th>Adjusted Hours</th>
    		<th>Status</th>
            <th>On Hold</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ graphic.media_label }}&nbsp;</td>
		<td>{{ graphic.title }}&nbsp;</td>
		<td>{{ graphic.description }}&nbsp;</td>
        <td>{{ graphic.version|stringformat:'02d' }}&nbsp;</td>
        <td>{{ graphic.estimated_hours }}&nbsp;</td>
        <td>{{ graphic.adjusted_hours }}&nbsp;</td>
		<td>{{ graphic.status }}&nbsp;</td>
        <td>{{ graphic.on_hOld }}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'graphicview' aircrafttype.id system.id graphic.id %}'>View</a>
			<a href='{% url 'graphicedit' aircrafttype.id system.id graphic.id %}'>Edit</a>
		</td>
	</tr>
{% empty %}
    <tr>
        <td>No Graphics Defined!</td>
    </tr>
{% endfor %}
	
</div>

{% endblock %}
