{% extends "base.html" %}

{% block title %}Aircraft System View{% endblock %}
{% block header %}Aircraft System View{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href="{% url 'typeview' aircrafttype.id %}">All Aircraft Systems</a></li>
        <li><a href="{% url 'graphicadd' aircrafttype.id system.id %}">New Graphic</a></li>
		<li><a href='#'>Logout</a></li>
	</ul>
</div>

<div class="aircraftsystems view">
	<h2>System</h2>
       <dl>
           <dt>Name</dt>
           <dd>{{ system.name }}&nbsp;</dd>
           <dt>Description</dt>
           <dd>{{ system.description }}&nbsp;</dd>
           <dt>Status</dt>
           <dd><b>In work: </b>{{ graphics.count }}<b> On Hold: </b>{{ holdgraphics.count }}<b> In QA: </b>{{ inqa.count }}<b> Completed: </b>{{ completed.count }}<b> Total: </b>{{ allgraphics.count }}&nbsp;</dd>
           <dt>Hours</dt>
           <dd><b>Estimated: </b>{{ est.estimate }}<b> Adjusted: </b>{{ adjest.adjustedestimate }}<b> Completed: </b>{{ booked.booked }}&nbsp;</dd>
       </dl>
</div>

<div class="related">
    <h3>Graphics</h3>
{% for graphic in graphics %}
    {% if forloop.first %}    
 	<table cellpadding = "0" cellspacing = "0">
    <tr>
        <td><h4>In Development</h4></td>
    </tr>
    <tr>
			<th>Media Label</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
            <th>Estimated Hours</th>
            <th>Adjusted Hours</th>
    		<th>Status</th>
            <th>On Hold</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ graphic.media_label }}&nbsp;</td>
		<td>{{ graphic.title }}&nbsp;</td>
		<td>{{ graphic.description }}&nbsp;</td>
        <td>{{ graphic.version|stringformat:'02d' }}&nbsp;</td>
        <td>{{ graphic.estimated_hours }}&nbsp;</td>
        <td>{{ graphic.adjusted_hours }}&nbsp;</td>
		<td>{% if graphic.status = 'Not Started' %}<img src='/static/not_started.png'>{% else %}<img src='/static/in_progress.png'>{% endif %}&nbsp;</td>
        <td>{% if graphic.on_hold %}<img src='/static/on_hold.png'>{% endif %}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'graphicview' aircrafttype.id system.id graphic.id %}'>View</a>
			<a href='{% url 'graphicedit' aircrafttype.id system.id graphic.id %}'>Edit</a>
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>
{% for qa in inqa %}
    {% if forloop.first %}    
 	<table cellpadding = "0" cellspacing = "0">
	<tr>
        <td><h4>In QA Process</h4></td>
    </tr>
    <tr>
			<th>Media Label</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
            <th>Estimated Hours</th>
            <th>Adjusted Hours</th>
    		<th>Status</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ qa.media_label }}&nbsp;</td>
		<td>{{ qa.title }}&nbsp;</td>
		<td>{{ qa.description }}&nbsp;</td>
        <td>{{ qa.version|stringformat:'02d' }}&nbsp;</td>
        <td>{{ qa.estimated_hours }}&nbsp;</td>
        <td>{{ qa.adjusted_hours }}&nbsp;</td>
		<td>{% if qa.status = 'Development Completed' %}<img src='/static/not_started.png'>{% else %}<img src='/static/in_progress.png'>{% endif %}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'graphicview' aircrafttype.id system.id qa.id %}'>View</a>
		</td>
	</tr>

{% empty %}
{% endfor %}
	</table>
{% for complete in completed %}
    {% if forloop.first %}    
	<table cellpadding = "0" cellspacing = "0">
	<tr>
        <td><h4>Completed</h4></td>
    </tr>
    <tr>
			<th>Media Label</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
            <th>Estimated Hours</th>
            <th>Adjusted Hours</th>
    		<th>Status</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ complete.media_label }}&nbsp;</td>
		<td>{{ complete.title }}&nbsp;</td>
		<td>{{ complete.description }}&nbsp;</td>
        <td>{{ complete.version|stringformat:'02d' }}&nbsp;</td>
        <td>{{ complete.estimated_hours }}&nbsp;</td>
        <td>{{ complete.adjusted_hours }}&nbsp;</td>
        <td>{% if complete.status = 'External Review Pass' %}<img src='/static/completed.png'>{% endif %}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'graphicview' aircrafttype.id system.id complete.id %}'>View</a>
		</td>
	</tr>

{% empty %}
{% endfor %}
	</table>

</div>

{% endblock %}
