{% extends "base.html" %}

{% block title %}Aircraft System View{% endblock %}
{% block header %}Aircraft System View{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href="{% url 'typeview' aircrafttype.id %}">All Aircraft Systems</a></li>
		{% if perms.multimediadb.add_systemgraphic %}
        <li><a href="{% url 'graphicadd' aircrafttype.id system.id %}">New Graphic</a></li>
        <li><a href="{% url 'graphicimport' aircrafttype.id system.id %}">Import Graphic CSV</a></li>
        {% endif %}
        {% if perms.multimediadb.add_uploads %}
        <li><a href="{% url 'uploadadd' aircrafttype.id system.id 0 'system' %}">New Attachment</a></li>
        {% endif %}
        {% if perms.multimediadb.add_comments %}
        <li><a href="{% url 'commentadd' aircrafttype.id system.id 0 0 'system' 'User' %}">New Comment</a></li>
        {% endif %}
		<li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
</div>

<div class="aircraftsystems view">
	<h2>System</h2>
       <dl>
           <dt>Name</dt>
           <dd>{{ system.name }}&nbsp;</dd>
           <dt>Description</dt>
           <dd>{{ system.description }}&nbsp;</dd>
           <dt>Status</dt>
           <dd><b>In work: </b>{{ inprogress.count }}<b> On Hold: </b>{{ holdgraphics.count }}<b> In QA: </b>{{ inqa.count }}<b> Completed: </b>{{ completed.count }}<b> Total: </b>{{ allgraphics.count }}&nbsp;</dd>
           <dt>Hours</dt>
           <dd><b>Estimated: </b>{{ est.estimate }}<b> Adjusted: </b>{{ adjest.adjustedestimate }}<b> Expended: </b>{{ booked.booked }}&nbsp;</dd>
       </dl>
</div>
<div class="related">

{% for upload in uploads %}
    {% if forloop.first %}   
    <h3>Attachments</h3> 
 	<table cellpadding = "0" cellspacing = "0">
    <tr>
			<th>File</th>
			<th>Description</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ upload.file }}&nbsp;</td>
		<td>{{ upload.description }}&nbsp;</td>
       	<td class="actions">
			<a href="{% url 'download' pk=upload.pk %}">Download</a>
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>

</div>
<div class="related">
    <h3>Graphics</h3>
{% for graphic in graphics %}
    {% if forloop.first %}    
 	<table cellpadding = "0" cellspacing = "0">
    <tr>
        <td><h4>In Development</h4></td>
    </tr>
    <tr>
			<th>Media Label<BR><BR>Last Update By</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
            <th>Adjusted<BR>Hours</th>
            <th>Booked<BR>Hours</th>
            <th>Remaining<BR>Hours</th>
    		<th>Status</th>
            <th>On Hold</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td nowrap="nowrap">{{ graphic.media_label }}<br><br>{{ graphic.last_update_by }}&nbsp;</td>
		<td>{{ graphic.title }}&nbsp;</td>
		<td>{{ graphic.description|linebreaksbr }}&nbsp;</td>
        <td>{{ graphic.version|stringformat:'02d' }}&nbsp;</td>
        <td>{{ graphic.adjusted_hours }}&nbsp;</td>
        <td>{{ graphic.booked.booked }}&nbsp;</td>
        <td style="{% if graphic.delta < 0 %} color:red; {% else %} color:green; {% endif %}">{{ graphic.delta }}&nbsp;</td>
		<td>{% if graphic.status = 'Not Started' %}<img src='/static/not_started.png'>{% else %}<img src='/static/in_progress.png'>{% endif %}&nbsp;</td>
        <td>{% if graphic.on_hold %}<img src='/static/on_hold.png'>{% endif %}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'graphicview' aircrafttype.id system.id graphic.id %}'>View</a>
			{% if perms.multimediadb.change_systemgraphic %}
			<a href='{% url 'graphicedit' aircrafttype.id system.id graphic.id %}'>Edit</a>
			{% endif %}
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>
{% for qa in inqa %}
    {% if forloop.first %}    
 	<table cellpadding = "0" cellspacing = "0">
	<tr>
        <td><h4>In QA Process</h4></td>
    </tr>
    <tr>
			<th>Media Label</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
    		<th>Status</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ qa.media_label }}&nbsp;</td>
		<td>{{ qa.title }}&nbsp;</td>
		<td>{{ qa.description|linebreaksbr }}&nbsp;</td>
        <td>{{ qa.version|stringformat:'02d' }}&nbsp;</td>
		<td>{% if qa.status = 'Development Completed' %}<img src='/static/not_started.png'>{% else %}<img src='/static/in_progress.png'>{% endif %}&nbsp;</td>
		<td class="actions">
		    {% if perms.multimediadb.add_qa %}
			<a href='{% url 'qaview' aircrafttype.id system.id qa.id %}'>Perform QA</a>
			{% endif %}
		</td>
	</tr>

{% empty %}
{% endfor %}
	</table>
{% for complete in completed %}
    {% if forloop.first %}    
	<table cellpadding = "0" cellspacing = "0">
	<tr>
        <td><h4>Completed</h4></td>
    </tr>
    <tr>
			<th>Media Label</th>
			<th>Title</th>
    		<th>Description</th>
            <th>Version</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ complete.media_label }}&nbsp;</td>
		<td>{{ complete.title }}&nbsp;</td>
		<td>{{ complete.description|linebreaksbr }}&nbsp;</td>
        <td>{{ complete.version|stringformat:'02d' }}&nbsp;</td>
		<td class="actions">
			<a href='{% url 'graphicview' aircrafttype.id system.id complete.id %}'>View</a>
		</td>
	</tr>

{% empty %}
{% endfor %}
	</table>

</div>


<div class="related">

{% for comment in comments %}
    {% if forloop.first %}   
    <h3>Comments</h3> 
 	<table cellpadding = "0" cellspacing = "0">
    <tr>
			<th>Comment Source</th>
            <th>Comment</th>
			<th>Created By</th>
    		<th>Created On</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
        <td>{{ comment.comment_type }}&nbsp;</td>
		<td>{{ comment.comment|linebreaksbr }}&nbsp;</td>
		<td>{{ comment.created_by }}&nbsp;</td>
		<td>{{ comment.created }}&nbsp;</td>
       	<td class="actions">
           	{% if perms.multimediadb.change_comments %}
			<a href='#'>Edit</a>
			{% endif %}
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>

</div>


{% endblock %}
