{% extends "base.html" %}

{% block title %}Change Password{% endblock %}
{% block header %}Change Password{% endblock %}
{% block content %}
<div class="aircrafttypes form">
	<h2>Change Password</h2>
	
	{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

   <form action="" method="post">
     {% csrf_token %}
        <div class="field">
            {{ form.password.errors }}
            <label for="password">New Password:</label>
            {{ form.password }}
        </div>        
        <div class="field">
            {{ form.check_password.errors }}
            <label for="check_password">Confirm Password:</label>
            {{ form.check_password }}
        </div>                
        
        <div class="submit">
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="cancel" value="Cancel">
    </div>
    </form>
</div>
{% endblock %}
