{% extends "base.html" %}

{% block title %}Graphic View{% endblock %}
{% block header %}Graphic View{% endblock %}
{% block content %}
<div class="actions">
	<ul>
		<li><a href="{% url 'systemview' aircrafttype.id system.id %}">All System Graphics</a></li>
		{% if perms.multimediadb.add_graphicworkdone %}
        <li><a href="{% url 'workadd' aircrafttype.id system.id graphic.id %}">Add Work Done</a></li>
        <li><a href="{% url 'graphichold' aircrafttype.id system.id graphic.id %}">Toggle Hold Status</a></li>
        <li><a href="{% url 'graphicdone' aircrafttype.id system.id graphic.id %}">Mark Completed</a></li>
        {% endif %}
   	    {% if perms.multimediadb.add_comment %}
        <li><a href="{% url 'commentadd' aircrafttype.id system.id graphic.id graphic.version 'graphic' 'Development' %}">New Comment</a></li>
        {% endif %}
        {% if perms.multimediadb.add_upload %}
        <li><a href="{% url 'uploadadd' aircrafttype.id system.id graphic.id 'graphic' %}">New Attachment</a></li>
        {% endif %}
		<li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>
</div>

<div class="graphics view">
	<h2>Graphic</h2>
       <dl>
           <dt>Media Label</dt>
           <dd>{{ graphic.media_label }}&nbsp;</dd>
           <dt>Title</dt>
           <dd>{{ graphic.title }}&nbsp;</dd>
           <dt>Description</dt>
           <dd>{{ graphic.description }}&nbsp;</dd>
           <dt>Version</dt>
           <dd>{{ graphic.version|stringformat:'02d' }}&nbsp;</dd>
           <dt>Estimated Hours</dt>
           <dd>{{ graphic.adjusted_hours }}&nbsp;</dd>
           <dt>Status</dt>
           <dd>{{ graphic.status }}&nbsp;</dd>
       </dl>
</div>
<div class="related">

{% for upload in uploads %}
    {% if forloop.first %}   
     
 	<table cellpadding = "0" cellspacing = "0">
 	<tr>
        <td><h3>Attachments</h3></td>
    </tr>
    <tr>
			<th>File</th>
			<th>Description</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ upload.file }}&nbsp;</td>
		<td>{{ upload.description }}&nbsp;</td>
       	<td class="actions">
			<a href="{% url 'download' pk=upload.pk %}">Download</a>
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>

</div>
<div class="related">
	{% for work in works %}
    {% if forloop.first %}    
    
	<table cellpadding = "0" cellspacing = "0">
	<tr>
        <td><h3>Work Done</h3></td>
    </tr>
    <tr>
			<th>Work Carried Out</th>
			<th>User</th>
  		<th>Hours Expended</th>
      <th>Date Modified</th>
      <th>Modified By</th>
      <th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
		<td>{{ work.work_carried_out }}&nbsp;</td>
		<td>{{ work.created_by }}&nbsp;</td>
		<td>{{ work.hours_expended }}&nbsp;</td>
    <td>{{ work.modified }}&nbsp;</td>
    <td>{{ work.modified_by }}&nbsp;</td>
    <td class="actions">
        {% if perms.multimediadb.change_graphicworkdone %}
      	<a href='{% url 'workedit' aircrafttype.id system.id graphic.id work.id %}'>Edit</a>
      	{% endif %}
	</td>
	</tr>
{% empty %}

{% endfor %}
	
</div>
<div class="related">

{% for comment in comments %}
    {% if forloop.first %}   
    
 	<table cellpadding = "0" cellspacing = "0">
 	<tr>
        <td><h3>Comments</h3></td>
    </tr>
    <tr>
            <th>Comment Source</th>
            <th>Graphic Version</th>
			<th>Comment</th>
			<th>Created By</th>
    		<th>Created On</th>
			<th class="actions">Actions</th>
	</tr>
    {% endif %}
	<tr>
	    <td>{{ comment.comment_type }}&nbsp;</td>
	    <td>{{ comment.comment_version|stringformat:'02d' }}&nbsp;</td>
		<td>{{ comment.comment }}&nbsp;</td>
		<td>{{ comment.created_by }}&nbsp;</td>
		<td>{{ comment.created }}&nbsp;</td>
       	<td class="actions">
       	    {% if perms.multimediadb.change_comment %}
			<a href='#'>Edit</a>
			{% endif %}
		</td>
	</tr>
	
{% empty %}
{% endfor %}
</table>

</div>
{% endblock %}
